on boot
    mkdir /mnt/vendor/persist/rpmb_status/
    chmod 0777 /mnt/vendor/persist/rpmb_status/
    chown system system /mnt/vendor/persist/rpmb_status/
    chown system system /proc/oplus_secure_common/secureType

on post-fs-data
    mkdir /data/vendor_de/rpmb_status/
    chmod 0777 /data/vendor_de/rpmb_status/
    chown system system /data/vendor_de/rpmb_status/
    mkdir /data/vendor_de/rpmb_status/.lii
    chmod 0777 /data/vendor_de/rpmb_status/.lii
    chown system system /data/vendor_de/rpmb_status/.lii

#ifdef OPLUS_FEATURE_DEVICE_LOG
#ZhuYan@NetWork.RF, 2020/09/27, Add for device log qdss system
on post-fs-data
    mkdir /data/vendor/oppo 0777 system system
    mkdir /data/vendor/oppo/log 0777 system system
    mkdir /data/vendor/oppo/log/device_log 0777 system system
    mkdir /data/vendor/oppo/log/device_log/config 0777 system system
    mkdir /data/vendor/oppo/log/device_log/diag_logs 0777 system system

on boot
    mkdir /data/opponvitems  0771 radio radio
    write /proc/sys/fs/suid_dumpable 1
    setprop persist.vendor.radio.force_on_dc true
    chmod 0664 /dev/mdmreason
    chown system system /dev/mdmreason

#endif /*OPLUS_FEATURE_DEVICE_LOG*/

on post-fs-data
    chown system system /dev/mx6300_tac
    chmod 0770 /dev/mx6300_tac

    chown system system /proc/ldmp_sn
    chown system system /proc/oppo_face_common/face_ir_sensor_tempature
    chown system system /proc/oppo_face_common/face_ldmp_power
    chown system system /proc/oppo_face_common/face_ldmp_tempature
    chown system system /proc/oppo_face_common/face_ntc_svc
    chown system system /proc/oppo_face_common/face_temp_ir
    chown system system /proc/oppo_face_common/face_temp_ldmp
    chown system system /proc/lm3644_enable
    chown system system /proc/lm3643_enable
    chown system system /proc/ldmp_enable
    chown system system /proc/flood_led_enable
    chown system system /proc/lm3644_power
    chown system system /proc/lm3644_lightpower
    chown system system /proc/ldmp_wdt_test
    chown system system /proc/ldmp_doe_security
    chown system system /proc/ldmp_sn

on boot
    start rmt_storage
    start rfs_access

# proximity_power
    chown system system /sys/bus/platform/devices/vendor:proximity_power/enable
    chmod 0666 /sys/bus/platform/devices/vendor:proximity_power/enable

# motor_pl
    chown system system /sys/bus/platform/devices/vendor:motor_pl/direction
    chown system system /sys/bus/platform/devices/vendor:motor_pl/enable
    chown system system /sys/bus/platform/devices/vendor:motor_pl/speed
    chown system system /sys/bus/platform/devices/vendor:motor_pl/hall_data
    chown system system /sys/bus/platform/devices/vendor:motor_pl/hall_max_data
    chown system system /sys/bus/platform/devices/vendor:motor_pl/hall_calibration
    chown system system /sys/bus/platform/devices/vendor:motor_pl/in_calibration
    chown system system /sys/bus/platform/devices/vendor:motor_pl/hall_irq_count
    chown system system /sys/bus/platform/devices/vendor:motor_pl/move_state
    chown system system /sys/bus/platform/devices/vendor:motor_pl/sw_switch
    chown system system /sys/bus/platform/devices/vendor:motor_pl/manual2auto_switch
    chown system system /sys/bus/platform/devices/vendor:motor_pl/motor_test
    chown system system /sys/bus/platform/devices/vendor:motor_pl/force_move
    chown system system /sys/bus/platform/devices/vendor:motor_pl/mode
    chown system system /sys/bus/platform/devices/vendor:motor_pl/stop_range
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/direction
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/enable
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/speed
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/hall_data
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/hall_max_data
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/hall_calibration
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/in_calibration
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/hall_irq_count
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/move_state
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/sw_switch
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/manual2auto_switch
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/motor_test
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/force_move
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/mode
    chmod 0666 /sys/bus/platform/devices/vendor:motor_pl/stop_range

# smart mic
    chmod 0660 /dev/ttyHS1
